@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-extralight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-extrabold.ttf);
    font-weight: 800;
    font-style: normal;
}

 $bright-color: #00b0e0;
 $bright-dark-color: #0088ad;

 $dark-color: #555555;
 $medium-color: #8c8c8c;
 $light-color: #c7b299;