.vacancy {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: solid 1px #eed6b9;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
}

.pinned {
    background-color: #fffaef;
}

.vacancy:hover {
    box-shadow: 2px 2px 10px 1px rgba(34, 60, 80, 0.16);
}

.vacancy-block-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    border-radius: 4px;
}

.vacancy-logo {
    width: 60px; 
    height: 60px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #eed6b9;
    object-fit: contain;
    object-position: center center;
    position: relative;
    background-color: white;
}

.vacancy-logo:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: -1px;
    left: -1px;
    width: 105%;
    height: 105%;
    background-color: white;
  }

.pinned .vacancy-logo:before {
    background-color: #fffaef;
  }

.vacancy-logo:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eed6b9;
    border-radius: 50%;
  }

.vacancy-block-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vacancy-name {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
}

.vacancy-salary {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: normal;
    color: #00b0e0;
}

.vacancy-salary span {
    font-size: 10px;
    font-weight: 400;
    color: #eed6b9;
}

.vacancy-block-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vacancy-icon {
    color: #eed6b9;
    opacity: 0.5;
    margin-bottom: 10px;
}

.vacancy-icon:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}

.vacancy-large {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 1px #eed6b9;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 30px 30px 40px;
    box-shadow: 2px 2px 10px 1px rgba(34, 60, 80, 0.16);
}

.vacancy-large:hover {
    box-shadow: none;
}

.vacancy-provider {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #eed6b9;
    margin: initial;
}

.vacancy-name-large {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color: #555555;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vacancy-name a {
    color: #555555;
}

.vacancy-name-large a {
    color: #555555;
}

.vacancy-requirement {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #555555;
}

.vacancy-responsibility {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #555555;
}

.vacancy-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #eed6b9;
}

.vacancy-icon-text {
    color: #eed6b9;
}

.vacancy-area-time {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 12px;
    color: #eed6b9;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.vacancy-area-large {
    margin-right: 30px;
    font-weight: 600;
}

.vacancy-area {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 10px;
    color: #eed6b9;
}

.vacancy-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vacancy-bottom .vacancy-url {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #eed6b9;
    background: white;
}

.vacancy-employer-name {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    color: #8c8c8c;
}

.vacancy-label {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.vacancy-label-item {
    margin: 0 10px;
    width: 70px;
    padding: 5px;
    background-color: #85cde0;
    border-radius: 15px;
}

.noexperience {
    background-color: #e0bc85;
}

@media (max-width: 580px) {
    .vacancy-large {
        margin: 10px 20px;
    }
    .vacancy-name-large {
        flex-direction: column;
    }
    .vacancy-label {
        margin: 10px 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    .vacancy-label-item {
        margin: 0 10px 0 0;
    }
    .vacancy-salary {
        font-size: 12px;
        font-weight: 800;
    }
}

@media (max-width: 350px) {
    .vacancy-large .vacancy-logo {
        width: 40px; 
        height: 40px;
        padding: initial;
    }
}