@import "item-style.css";
@import "account-style.css";
@import "search-style.css";
@import "profile-style.css";
@import "vacancies-list-style.css";
@import "vacancy-page.css";

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-extralight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/montserrat-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-extrabold.ttf);
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

 #app{
    height: 100%;
 }

 a{
     text-decoration: none;
 }

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
 }

 main {
    flex: 1 0 auto;
 }

 footer {
    flex: 0 0 auto;
 }

.main-header {
    min-height: 724px;
    background: rgb(145, 185, 196) url("../../assets/img/bg_photo_11179.jpg") no-repeat bottom right/contain;
    display: flex;
    flex-direction: column;
}

.header-top-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    flex-direction: row;
    position: relative;
    background-color: #555555;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    text-decoration: none;
    color: #fff;
}
  
.logo-svg {
    fill: #00b0e0;
}
  
.logo-txt {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}
  
.logo:hover {
    color: #c7b299;
}

.logo:active {
    color: #eed6b9;
}

.header-top-cnt {
    display: flex;
    flex-wrap: wrap;
}

.main-header-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    box-sizing: content-box;
    align-items: center;
}

.main-header-list li {
    margin-right: 30px;
}

.main-header-list li:last-child {
    margin-right: 0;
}

.list-item-link {
    text-decoration: none;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    padding: 7px;
}

.list-item-link:hover {
    color: #c7b299;
    border-color: #c7b299;
}

.list-item-link:active {
    color: #eed6b9;
    border-color: #eed6b9;
}

.link-login {
    border: solid 1px #fff;
    padding: 7px;
    border-radius: 4px;
}

.header-buttons-cnt {
    margin-top: 10px;
    padding-left: 53px;
}

.form-search {
    display: inline-block;
    position: relative;
    height: 24px;
}

.header-search-svg {
    fill: #fff;
}

.header-search-svg:hover {
    fill: #c7b299;
    cursor: pointer;
}

.header-search-svg:active {
    fill: #eed6b9;
    cursor: pointer;
}

.form-search-label {
    display: inline-block;
}

.tagline {
    display: flex;
    padding-left: 120px;
    padding-top: 250px;
    flex-direction: column;
}

.tagline-txt {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.features {
    min-height: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 267px;
    text-decoration: none;
    color: #555555;
    margin: 20px 17px;
}

.features-block-svg {
    fill: currentColor;
}

.features-block-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}

.features-block-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: -0.3px;
}

.features-block-text-bottom {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: -0.3px;
}

.features-block:hover {
    color: #c7b299;
}

.features-block:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
    align-self: flex-end;
}
  
.features-block:hover:after {
    background-color: #c7b299;
}

.section-txt {
    max-width: 760px;
    min-height: 95px;
    text-align: center;
    margin-top: 83px;
}

.section-title {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    color: #555555;
}

.section-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    letter-spacing: -0.3px;
    margin-top: 24px;
    padding: 0 5px;
}

.section-btn {
    width: 170px;
    min-height: 50px;
    background-color: #998675;
    border-radius: 3px;
    outline: none;
    border: 0;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: inset 0px -3px 0px 0px rgba(115, 99, 87, 0.8);
    margin-right:10px;
}

.section-btn:hover {
    background-color: #aa9583;
    cursor: pointer;
}

.section-btn:active {
    color: #eed6b9;
    cursor: pointer;
    box-shadow: none;
}

.for-mobile {
    min-height: 695px;
    background-color: #fbfaf8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    box-sizing: border-box;
    margin-top: 30px;
}

.for-mobile-block-text {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 183px;
}

.for-mobile .section-text {
    max-width: 657px;
    margin-top: 40px;
    line-height: 1.75;
}

.for-mobile-list li {
    list-style-type: none;
    position: relative;
}

.for-mobile-list {
    max-width: 596px;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.3px;
    color: #8c8c8c;
    margin-top: 40px;
    margin-left: 100px;
}

.for-mobile-list-svg {
    position: absolute;
    fill: #c7b299;
    left: -49px;
    top: 5px;
}

.statistics {
    min-height: 260px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #555555 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.statistics-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 132px;
    text-decoration: none;
    color: #c7b299;
    margin: 20px 36px;
}

.statistics-block-svg {
    fill: currentColor;
}

.statistics-block-digits {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 48px;
    font-weight: 200;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 30px;
    line-height: 0.75;
}

.statistics-block-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-top: 21px;
    margin-bottom: 30px;
}

.profession-block {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.profession-block-name {
    border-right: 1px solid #e5e5e5;
}

.profession-block-header {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
    color: #555555;
    margin-left: 30px;
    margin-right: 15px;
}

.profession-block-header:hover {
    color: #c7b299;
    cursor: pointer;
}

.profession-block-multiple {
    list-style-type: none;
    column-count: 3;
    column-width: 312px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 15px;
}

.profession-multiple-item {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    margin-bottom: 10px;
    letter-spacing: -0.3px;
}

.profession-multiple-item .selected{
    font-weight: 600;
    color: #0088ad;
}

.profession-multiple-item a, 
.profession-multiple-item a:active,
.profession-multiple-item a:visited {
    text-decoration: none;
    color: #8c8c8c;
}

.profession-multiple-item a:hover {
    color: #c7b299;
    cursor: pointer;
}

.profession-block-city-multiple {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 15px;
}

.profession-city-multiple-item {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    margin-bottom: 10px;
    letter-spacing: -0.3px;
}

.profession-city-multiple-item:hover {
    color: #c7b299;
    cursor: pointer;
}

.profession-block-city-button {
    background: none;
    border: none;
    outline: none;
    margin: 30px 30px;
    color: #c7b299;
    text-decoration: underline;
}

.footer-lower {
    min-height: 111px;
    background-color: #191919;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-lower-block {
    margin-left: 15px;
}

.footer-lower-block p, .footer-lower-block a {
    text-decoration: none;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #555555;
    display: inline-block;
}

.footer-lower-block a:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #252525;
    margin: 0 13px;
}

.footer-lower-block p:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #252525;
    margin: 0 13px;
}

.footer-lower-block a:last-child:after {
    display: none;
}

.footer-lower-block p:last-child:after {
    display: none;
}

.footer-lower-allocated {
    color: #959595;
}

.footer-lower-block a:hover {
    color: #c7b299;
}

.footer-lower-allocated:hover {
    color: #c7b299;
}

.footer-icon {
    display: flex;
}

.social-icon {
    width: 40px !important;
    height: 40px !important;
    color: #959595;
    margin-left: 10px;
}

.social-icon:hover {
    color: #c7b299;
}

.about-company-page-cnt {
    display: flex;
    height: 100%;
    background: linear-gradient(#fcfcff, #dee2ec);
}

.about-company-page {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    background: url("../../assets/img/bg_about.jpg") no-repeat left 50% center/auto 100%, linear-gradient(#fcfcff, #dee2ec) ;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 20% 100%);
}

.about-company-page-info {
    max-width: 30%;
    min-width: 300px;
    padding-top: 30px;
    padding-left: 30px;
}

.about-company-page-h2 {
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
    color: #555555;
}

.about-company-page-text {
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
    letter-spacing: -0.3px;
    padding: 5px 0 0 0;
}

.notfound-cnt {
    display: flex;
    justify-content: center;
    height: 100%;
    background: rgb(145, 185, 196) url("../../assets/img/bg_404.jpg") no-repeat center center/cover;
}

.notfound-page {
    font-family: 'montserrat', 'arial', sans-serif;
    font-style: normal;
    text-align: center;
}

.notfound-404 {
    font-size: 108px;
    font-weight: 600;
    color: #0088ad;
}

.notfound-text {
    font-size: 24px;
    font-weight: 400;
    color: #8c8c8c;
    letter-spacing: -0.8px;
}

.notfound-text span{
    color: #0088ad;
    font-weight: 600;
}

.mobile-label-btn,
.mobile-input-btn {
    display: none;
}

@media (max-width:540px) {

    .main-header {
        min-height: 0;
    }

    .main-header-list li {
        margin-right: 0px;
    }

    .tagline-txt {
        font-size:28px;
    }

    .tagline {
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .footer-lower-block {
        text-align: center;
    }

    .notfound-smile {
        font-size: 50px;
    }

    .notfound-404 {
        font-size: 68px;
        margin-top: 10px;
    }

    .notfound-text {
        font-size: 16px;
    }
}

@media (max-width:480px) {

    .header-buttons-cnt {
        padding: 0;
    }

    .header-top-row {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 0;
    }

    .header-top-cnt {
        padding-top: 0;
        justify-content: flex-end;
    }

    .profession-block {
        display: block;
    }

    .mobile-menu__icon {
        display: block;
        position: relative;
        background: rgba(255,255,255,1);
        width: 90%;
        height: 5px;
        transition: .4s;
    }

    .mobile-menu__icon:after,
    .mobile-menu__icon:before {
        content: "";
        display: block;
        position: absolute;
        background: rgba(255,255,255,1);
        width: 100%;
        height: 5px;
        transition: .4s;
    }

    .mobile-menu__icon:after {
      top: 12px;
    }

    .mobile-menu__icon:before {
      top: -12px;
    }

    .mobile-label-btn {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-header-list {
        height: 0;
        visibility: hidden;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .main-header-list li {
        text-align: right;
        margin-top: 2px;
        margin-right: 0;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .main-header-list {
        height: auto;
        visibility: visible;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon {
        background: transparent;
    }

    
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:after,
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:before {
        top: 0;
    }

    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
           
    .mobile-input-btn[type="checkbox"]:checked ~ .mobile-label-btn .mobile-menu__icon:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .list-item-link {
        font-size: 15px;
    }

    .for-mobile {
        display: none;
    }

    .main-footer div {
        padding-top: 40px;
    }

    .about-company-item-title {
        font-size: 28px;
    }

    .footer-lower {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }  
}



