.vacancy-page {
  font-family: 'raleway', 'arial', sans-serif;
  margin: 50px 100px;
}

.title__h2 {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 10px;
  color: #555555;
}

.title__h3 {
  margin: 10px 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #555555;
}

.vacancy-company__name {
  margin: 35px 0;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  color: #0088ad;
}

.vacancy-company__area {
  margin: 10px 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #555;
  letter-spacing: -0.3px;
  padding: 5px 0 0 0;
}

.vacancy-text {
  margin: 10px 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #555;
}

.vacancy-text p {
  margin-bottom: 8px;
}

.vacancy-text__publish {
  color: #8c8c8c;
  font-size: 0.8rem;
}

.vacancy-info {
  margin: 20px 0;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #c7b299;
}

.vacancy-company {
  display: flex;
  max-width: 700px;
  justify-content: space-between;
}

.vacancy-company__left {
  display: flex;
  flex-direction: column;
}

.vacancy-company__logo {
  max-width: 150px;
  max-height: 100px;
}

.vacancy-url {
  padding: 5px 30px;
  border: 0;
  background-color: #0088ad;
  color: white;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.vacancy-url:hover {
  background-color: #00b0e0;
}

.vacancy-page .vacancy-provider {
  color: #8c8c8c;
  font-size: 0.8rem;
  margin-left: 20px;
}

@media (max-width:540px) {

  .vacancy-page {
    margin: 50px 50px;
  }
}

@media (max-width:480px) {

  .vacancy-page {
    margin: 50px 20px;
  }
}